.taskBox {
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 1px solid black;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.inputCheck {
  cursor: pointer;
}

label {
}
input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 190px;
}
.inputCheck {
  border: none;
  padding: 3px 5px;
  box-shadow: none;
  width: 20px;
}

#todo {
  display: none;
}
