.outer-div {
  display: flex;
  height: 100vh;
  width: 100vw;
}
.inner-div {
  width: 100%;
  padding: 50px 0px;
  /* gap: 20px; */
}
.left {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 0px;
}

/*////use this if the two side columns are to be placed at the center of the side columns, and not tight to the sides 
.side {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
} */

.center {
  display: flex;
  /* gap: 20px; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.right {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 15px 0px;
}
.inner-div div {
  padding: 60px;
  background-color: yellow;
  border: 1px solid black;
}
