* {
  box-sizing: border-box;
}
body {
  background-color: blueviolet;
  background-image: url("images/circuit-pattern.png");
}
.container {
  display: grid;
  margin: 50px 30px 20px 50px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}
.roboBox {
  background-image: url("images/card-pattern.png");
  background-color: aqua;
  border-radius: 10px;
  text-align: center;
}
.nav {
  display: flex;
  align-items: center;
  background-image: url("images/circuit-pattern.png");
  background-color: rgb(0, 192, 90);
  height: 50px;
}
.navTitle {
  font-family: "SEGA LOGO FONT", sans-serif;
  letter-spacing: 2px;
  font-weight: normal;
  margin-left: 20px;
}
input {
  margin-left: 30px;
  height: 30px;
  width: 1000px;
}
